body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-weight: 100;
}

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -moz-osx-font-smoothing: auto;
}
/*ICONS */

@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?y4o4sb');
  src:  url('../icons/icomoon.eot?y4o4sb#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?y4o4sb') format('truetype'),
    url('../icons/icomoon.woff?y4o4sb') format('woff'),
    url('../icons/icomoon.svg?y4o4sb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e913";
}
.icon-chevron-down:before {
  content: "\e914";
}
.icon-business-opportunity:before {
  content: "\e900";
}
.icon-commercial:before {
  content: "\e901";
}
.icon-condo-coop:before {
  content: "\e902";
}
.icon-industrial-comm-agri:before {
  content: "\e903";
}
.icon-rental:before {
  content: "\e904";
}
.icon-single-family:before {
  content: "\e905";
}
.icon-residential-income:before {
  content: "\e906";
}
.icon-docks-boats-residential:before {
  content: "\e907";
}
.icon-dashboard:before {
  content: "\e908";
  color: #fff;
}
.icon-house-add:before {
  content: "\e909";
  color: #fff;
}
.icon-logout:before {
  content: "\e90a";
  color: #fff;
}
.icon-menu:before {
  content: "\e90b";
  color: #fff;
}
.icon-message:before {
  content: "\e90c";
  color: #fff;
}
.icon-notification:before {
  content: "\e90d";
  color: #fff;
}
.icon-settings:before {
  content: "\e90e";
  color: #fff;
}
.icon-user:before {
  content: "\e90f";
  color: #fff;
}
.icon-sold:before {
  content: "\e910";
  color: #ff6e03;
}
.icon-house-orange:before {
  content: "\e911";
  color: #ff6e03;
}
.icon-house:before {
  content: "\e912";
  color: #fff;
}

.select2.select2-container{
  width: 100% !important;
  margin-bottom: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  right: 8px;
}
.select2-selection__arrow .fa{
  font-size: 30px;
    vertical-align: middle;
    color: #a1a1a1;
}
.user-panel>.info>a{
    font-size: 12px;
}
.miakoona-logo {
    width: 45px;
}
.logo-lg, .logo-mini {
    text-align: left;
}

.skin-blue .main-header .navbar, .skin-blue .main-header .logo, .main-sidebar .user-panel {
    background-color: #00355D;
}

/* .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #FF6E03;
} */

.skin-blue .user-panel>.info>a {
    /* color: #FF6E03; */
    color: white;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    background-color: #357ca5;
    color: #fff;
}

.skin-blue .sidebar a {
    color: #fff;
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #357ca5;
}

.skin-blue .sidebar-menu li img {
    width: 25px;
    margin-right: 15px;
    vertical-align: bottom;
}
.main-header .navbar .sidebar-toggle{
    border-left: 1px solid #01487d
}
.content-wrapper {
    background-color: #fff;
}
.content-header>h1 {
    margin: 0;
    font-size: 18px;
    color: #00365e;
}
#reports .box-body h1{
    font-size: 24px;
}
#reports .box-body h4{
    font-size: 18px;
}
.user-panel>.info>p {
    font-weight: normal;
    margin-bottom: 10px;
}

.dashboard .box.box-solid {
    border: 1px solid #eee;
    /*box-shadow: none;*/
    border-radius: 0px;
    /*padding: 0 40px;*/
}
.add-property .box.box-solid{
    box-shadow: none;
    border-radius: 0px;
    padding: 0 40px;
    border: none;
}
.miakoona-property {
    background-color: #F7F7F7;
    border: 1px solid #eee;
    box-shadow: 0 0 0;
    padding-right: 0;
}
.miakoona-property:hover {
    background-color: #ECECEC;
}
.miakoona-property .miakoona-property-title{
    font-size: 14px;
    font-weight: 700;
}
.miakoona-property p{
    font-size: 13px;
}
.sidebar-menu>li>a{
    padding: 15px 5px 15px 15px;
}
.FF6E03, .miakoona-title {
    color: #FF6E03;
    line-height: 1.5em;
}

.miakoona-title:hover {
    color: orange;
}

.miakoona-property-title {
    color: #00355D;
    padding-top: 10px;
}

.miakoona-property-title:hover {
    color: #3c8dbc;
}

.miakoona-aging {
    color: #ccc;
}

.miakoona-svg {
    width: 20%;
    height: 20%;
    fill: orange;
    stroke: orange;
    fill-rule: evenodd;
}
#addlisting .nav{
    background-color: #f6f6f6;
    font-size: 0;
}
#addlisting .nav-pills li{
    background-color: #f6f6f6;
    color: #c4c4c4;
    padding-right: 15px;
    min-width: 140px;
    font-size: 14px;
    margin-left: -15px;
    z-index: 1;
}
#addlisting .nav-pills li:first-child{
  margin-left: 0;
}
#addlisting .nav-pills li a{
    padding-left: 30px;
}
#addlisting .nav-pills li.finish{
  background-color: #00365e;
  z-index: 3;
  border-radius: 0 20px 20px 0;
}
/*#addlisting .nav-pills li.finish:last-child{
  border-radius: 0 20px 20px 0;
}*/
#addlisting .nav-pills li.finish a, #addlisting .nav-pills>li.finish>a:hover, #addlisting .nav-pills>li.finish>a:focus{
    background-color: #00365e;
    border-top: none;
    border-radius: 0 20px 20px 0;
    font-weight: normal;
    color: #fff;
    padding-left: 30px;
}
#addlisting .nav-pills li.finish a:after{
    content: "\e913";
    width: 0px;
    display: inline-block;
    float: right;
    font-family: "icomoon";
    color: #75c623;
    font-size: 24px;
    vertical-align: middle;
    margin-top: -7px;
    z-index: 6;
    margin-right: 10px;
    margin-left: 5px;
}
#addlisting .nav-pills>li.active{
  z-index: 2;
}
#addlisting .nav-pills>li.active>a, #addlisting .nav-pills>li.active>a:hover, #addlisting .nav-pills>li.active>a:focus{
    background-color: #75c623;
    border-top: none;
    border-radius: 0 20px 20px 0;
    font-weight: normal;
    color: #fff;
    padding-left: 30px;
}
.paddtop {
    padding-top: 20px;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
    width: 300px;
}
.user .user-name{
    margin-right: 10px;
}
#reports .box object{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
#reports .report{
    padding: 0;
}
#reports .report:first-child{
    padding-left: 15px; 
} 
#reports .report:last-child{
    padding-right: 15px; 
} 
.main-footer{
    border: none;
}
.main-sidebar .user-panel{
    padding: 15px 10px 25px 10px;
}
.main-header .navbar .nav>li>a>.label {
    top: 10px;
    left: 8px;
    right: auto;
    font-size: 8px;
    padding: 3px 5px;
    background-color: #FF6E03 !important;
    border-radius: 10px;
}
#addlisting .form-group > label, #addlisting .form-group [class^='col-md'] > label {
    font-size: 14px;
    font-weight: 100;
    color: #00365e;
}
.form-group{
  margin-bottom: 0;
}
#addlisting input.form-control {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
}

#addlisting .nav-pills li a{
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    color: #c9c9c9;
}
.checkbox-group{
    height: 150px;
    display: block;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 15px;
}
#addlisting textarea{
  margin-bottom: 15px;
  min-height: 130px;
}
#addlisting .removeroom{
  margin: 24px 0;
}
.listings-create .nav-pills>li {
    height: 40px;
    margin: 0;
}

.listings-create .nav-pills>li>a {
    text-transform: uppercase;
}

.listings-create .nav>li>a:hover, .listings-create .nav>li>a:active, .listings-create .nav>li>a:focus {
    height: 40px;
    color: #fff;
}
#addlistingpopup .modal-body{
    padding-top: 0;
    padding-bottom: 0;
}
#addlistingpopup .modal-title{
    color: #FF6E03;
    font-size: 16px;
}
#addlistingpopup .form-group input[type="radio"] {
    display: none;
}

#addlistingpopup .form-group input[type="radio"] + .btn-group > label span.glyphicon {
    width: 20px;
    font-size: 22px;
    vertical-align: middle;
    margin-top: -15px;
}

#addlistingpopup .form-group input[type="radio"] + .btn-group > label span:first-child {
    display: none;
}
#addlistingpopup .form-group input[type="radio"] + .btn-group > label span:last-child {
    display: inline-block !important;
}

#addlistingpopup .form-group input[type="radio"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
#addlistingpopup .form-group input[type="radio"]:checked + .btn-group > label span:last-child {
    display: none;   
}
#addlistingpopup .form-group{
    margin-bottom: 0;
}
#addlistingpopup .btn-group .btn{
    border: none;
    line-height: 2em;
    text-align: left;
    padding: 12px 20px;
    height: 50px;
    font-weight: 100;
}
#addlistingpopup .btn-group {
    width: 100%;
    display: block;
}
#addlistingpopup .btn-group .btn:first-child{
    width: 85%;
}
#addlistingpopup .btn-group .btn:last-child{
    width: 15%;
    font-size: 24px;
    font-weight: 100;
    padding-top: 5px;
    vertical-align: middle;
    text-align: center;
}
#addlistingpopup .btn-group:hover .btn, #addlistingpopup .form-group input[type="radio"]:checked + .btn-group .btn{
    background-color: #75c623;
    color: #fff;
}
#addlistingpopup .btn-group .btn span{
    font-size: 34px;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: -10px;
    vertical-align: middle;
}
.select2-container *:focus, .select2-container *:hover, .select2-dropdown {
  border-color: #fdc79f;
}
.add-property .box.box-solid h4{
  font-size: 18px;
  margin-right: -25px;
  display: block;
  margin-left: -25px;
}
.add-property .box.box-solid h4:after{
  content: "";
  height: 1px;
  width: 100%;
  background-color: #dddddd;
  display: block;
  margin-top: 14px;
}
.pager li>a, .pager li>span, .pager .next>a, .pager .next>span, .pager .previous>a, .pager .previous>span{
  border-radius: 5px;
  color: #fff;
  width: 75px;
  font-size: 14px;
  padding: 6px 0px;
  background-color: #75c522;
}
.pager .previous>a, .pager .previous>span{
  background: red;
}
.pager li>a:focus, .pager li>a:hover{
  color: #fff;
  background-color: #75c522;
}
.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span{
  color: #fff;
  background-color: #d0d0d0;
}
span.multiselect-native-select {
    margin-bottom: 15px;
    display: block;
}
.multiselect.btn{
  background-color: #fff;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
  font-size: 14px;
  /*margin-bottom: 15px;*/
  text-align: left;
}
.multiselect.btn:hover, .multiselect-native-select .open>.dropdown-toggle.btn-default:hover{
  background-color: transparent;
  border-color: #fdc79f;
  box-shadow: none;
}
.multiselect-native-select .open>.dropdown-toggle.btn-default, .multiselect.btn-group.open .dropdown-toggle,
.multiselect-native-select .open>.dropdown-toggle.btn-default:focus{
  box-shadow: none;
  background: transparent;
  border-color: #fdc79f;
  border-bottom-color: transparent;
}
.multiselect-native-select .open>.dropdown-menu{
  border-color: #fdc79f;
  border-top: none;
  border-radius: 0;
}
.multiselect-native-select .dropdown-menu{
      width: 100%;
}
.multiselect-native-select .btn-group{
  width: 100%;
}
.btn .caret:before {
  margin-left: 0;
  font-family: "icomoon";
  content: "\e914";
  font-size: 30px;
  font-weight: 100;
  line-height: normal;
  display: inline-block;
  margin-top: -6px;
  color: #a3a3a3;
}
.caret{
  border: none;
  height: auto;
  width: auto;
  height: 18px;
  float: right;
}
.multiselect-container label.checkbox input, .multiselect-container label.radio input{
  visibility: hidden;
}
.multiselect-container label.checkbox:after, .multiselect-container label.radio:after {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    float: right;
    font-family: "icomoon";
    color: #75c623;
    font-size: 25px;
    vertical-align: middle;
    margin-top: -8px;
}
.multiselect-container > .active > a label.checkbox:after, .multiselect-container > .active > a label.radio:after{
    content: "\e913";
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
  background-color: transparent;
  color: #00365e;
}
.dropdown-menu>li>a{
  color: #333;
}
.multiselect-container>li>a>label.checkbox, .multiselect-container>li>a>label.radio{
  padding: 5px 20px;
}
.search .input-group-addon{
  padding: 5px 10px;
  border-color: #c5c5c5;
}
.search .input-group-addon{
    background: white !important; 
}
.search .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#c5c5c5;
}
.search button{
    border:0;
    background:transparent;
    color: #c5c5c5;
}
.properties span.multiselect-native-select {
    margin-bottom: 15px;
    display: inline-block;
    min-width: 160px;
}
.properties .form-inline .multiselect-container label.radio{
  padding-left: 20px;
  width: 100%;
}
.properties form label{
  color: #000000;
}
.properties .box{
  margin-bottom: 5px;
}
.btn-success{
    background-color: #75c522;
    border-color: #008d4c;
}
.card-img-top{
  max-width: 100%;
}
.modal-body.card{
  padding: 0;
}
.card-body{
  padding: 15px;
  padding-top: 0;
}
.modal button.close{
  position: absolute;
  right: 5px;
  top: -12px;
  font-size: 60px;
  color: #fff;
  z-index: 99;
  display: block;
  opacity: 1;
}
.modal .card .card-title{
  font-size: 16px;
  color: #00355D;
  font-weight: 700;
  padding: 15px;
  padding-bottom: 5px;
}
.modal .card .card-title h3{
  padding: 0;
  margin: 0;
}
.modal .card h4{
  font-size: 13px;
  font-weight: normal;
  color: #00355D;
}
.modal .card p{
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 10px;
}
.modal .carousel .glyphicon{
  font-size: 75px;
  margin-top: -45px;
}
.modal .card .btn-warning{
  background-color: #ff6e02;
}

.dashboard-properties-header .dashboard-properties-buttons a {
    width: 150px;
}

.dashboard-properties-header .dashboard-properties-buttons a.dashboard-properties-viewall {
    width: 110px;
}

.dashboard-properties-header .dashboard-properties-buttons a img {
    width: 25px;
    margin-top: -5px;
}

.logo-gradient{
     background: linear-gradient(to right, #1B91F3,white,white, #0862BC,#0850A1,#081A54,#081A54,#081A54) !important;
}


.pointonhover{
    cursor: pointer;
}

.dashboard-add-edit{
    color: #008d4c !important; 
}

.dashboard-add-edit:hover{
    color: #75c522 !important; 
}

.modal-title{
    color: #00355D;
    font-weight: bold;
}

.dismiss-modal{
    color: #f00;
    font-size: 20px;
}

.dismiss-modal:hover{
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #00355D;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.has-bgcolor-ltblue{
    background-color: #DFE7FF;
}
table.dataTable tbody tr.selected, #tablePIR > tbody > tr.selected > td {
    background-color: #00355D !important;
    color:#fff;
}

table.dataTable tbody tr td {
    font-size: 12px;
}

#modalAddCategory{
    border-radius:10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

}

.addthingsbutton{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

table{
  width: 100% !important;
}


#divadvsearch .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
#divadvsearch .input-group-btn .btn-group {
    display: flex !important;
}
#divadvsearch .btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
#divadvsearch .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#divadvsearch .btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#divadvsearch .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    #divadvsearch .dropdown.dropdown-lg {
        position: static !important;
    }
    #divadvsearch .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
#divadvsearch button.btn-primary > span{
  font-size: 12px !important;
}

#divadvsearch button.btn-default.dropdown-toggle {
    padding: 7px 12px !important;
}

.modal{
    overflow-y: scroll !important;
}

ul > span.list-group-item, ul > span.list-group-item > a.pull-right{
  cursor: pointer;
}
.has-border-right{
    border-right: 2px solid black;
}
